<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <% include ./navigation %>




  </body>
  <footer>

  <% include ./footer %>
    <script src="javascripts/index.js"></script>
  </footer>
</html>
