<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to
      <%= title %></p>
  </body>
  <footer>

    <script>
    axios
  .post('/api/tone-analyzer', {
    username: '8be17060-7d16-4dde-b8db-2f789916806c',
    password: 'pxQuQ0lbWszM',
    text:
      'Hey guys, my name is Elton. I am a third year student at UC Irvine studying computer science. I am really smart!'
  })
  .then(function(response) {
    console.log(response);
  })
  .catch(function(err) {
    console.log(err);
  });
</script>
  </footer>

</html>
