<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  </head>
  <body>
    <% include ./navigation-logged-in %>

    <div class="center-section offset-navbar" id="main-container">
      <div class="row mt-4">
        <div class="offset-md-2 col-md-8 flex-center">
          <h1 id="content-title">Choose a Question Bank <span class="fa fa-battery-1"></span></h1>
        </div>
      </div>
      <div class="row" id="choose-bank-container">
        <div class="offset-md-2 col-md-8">
          <ul class="question-banks-container">
            <% for (let i = 0; i < banks.length; ++i) { %>
              <li class="choose-card question-bank-card" data-id="<%= banks[i].id %>">
                <div class="question-bank-label">
                  <h1><%= banks[i].title %></h1>
                </div>
                <ul class="list-group question-bank-questions">
                  <% for (let j = 0; j < banks[i].questions.length; ++j) { %>
                    <li class="list-group-item"><%= banks[i].questions[j] %></li>
                  <% } %>
                </ul>
              </li>
            <% } %>
            <li class="choose-card question-bank-card">
              <div class="question-bank-label">
                <h1>Technical Questions</h1>
              </div>
              <ul class="list-group question-bank-questions">
                <li class="list-group-item">Tell me about yourself.</li>
                <li class="list-group-item list-group-item-info">What is the importance of closures?</li>
                <li class="list-group-item">What are some of the new features included in ES6?</li>
                <li class="list-group-item list-group-item-info">What are the 4 principles of object-oriented programming?</li>
              </ul>
            </li>

          </ul>

        </div>
      </div>

      <!-- <div class="row flex-center" id="record-response-container">
        <div class="col-md-12" id="timer">
          00:00
        </div>

        <h1 class="col-md-12 flex-center" id="question">
          <div class="flex-center" id="instructions">
              <h1>Recording...</h1>
          </div>
          <h1>How well do you work in a team?</h1>
        </h1>
        <div class="col-md-12" id="control-buttons">
          <div class="btn mt-2" id="start"><span class="fa fa-play-circle fa-3x"></span></div>
          <div class="btn mt-2" id="stop"><span class="fa fa-stop-circle fa-3x"></div>
        </div>
      </div>
    </div>
    <div class="row flex-center" id="feedback-container">

        <div class="feedback-card">
          <h1>"How well do you work in a team?"</h1>
          <canvas id="feedback-chart" width="800" height="400"></canvas>
          <article class="clip flex-center">
            <audio controls></audio>
          </article>

        </div>
        <div class="col-md-12 flex-center">
          <span class="fa fa-arrow-circle-right fa-5x" id="next"></span>
        </div>

    </div> -->

  </body>
  <footer>

    <% include ./footer %>
    <script src="http://code.responsivevoice.org/responsivevoice.js"></script>
    <script src="javascripts/practice.js"></script>
  </footer>
</html>
