<!DOCTYPE html>
<html>
  <head>
    <% include ./header %>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <% include ./navigation-logged-in %>

    <div class="center-section offset-navbar">
      <div class="row mt-4">
        <div class="offset-md-2 col-md-6">
          <h1>Search Results</h1>
        </div>
      </div>
      <div class="row mt-4">
        <ul class="offset-md-2 col-md-10" id="search-results">
          <li class="username-card">
            <h1>soniaxu96</h1>
          </li>
          <li class="username-card">
            <h1>eltonxue1234</h1>
          </li>
          <li class="username-card">
            <h1>piatheplant443</h1>
          </li>
          <li class="username-card">
            <h1>soniaxu96</h1>
          </li>
          <li class="username-card">
            <h1>piatheplant443</h1>
          </li>
          <li class="username-card">
            <h1>soniaxu96</h1>
          </li>
          <li class="username-card">
            <h1>piatheplant443</h1>
          </li>
          <li class="username-card">
            <h1>soniaxu96</h1>
          </li>
          <li class="username-card">
            <h1>piatheplant443</h1>
          </li>
          <li class="username-card">
            <h1>soniaxu96</h1>
          </li>
        </ul>
      </div>

    </div>

  </body>
  <footer>

    <% include ./footer %>
    <script src="javascripts/index.js"></script>
  </footer>
</html>
