html {
  margin: 0px; }

body {
  font-family: "Titillium Web", sans-serif;
  color: white;
  height: 100%;
  background-color: #282e37; }

a {
  color: #00b7ff; }

ul {
  list-style-type: none; }

.copyright {
  font-style: italic;
  color: white;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 20px; }

/* Sections */
.center-section {
  padding: 20px;
  margin-top: 200px; }

/* Text */
.title {
  text-align: center;
  font-size: 50px;
  padding-bottom: 10px; }

.display-3 {
  font-size: 100px; }

.display-4 {
  font-size: 40px; }

.lead {
  font-size: 30px;
  text-align: center; }

/* Buttons */
.btn-1 {
  background-color: #0bb4e0;
  margin: 5px 0px; }

.btn {
  padding: 10px 15px;
  font-size: 20px;
  color: white; }

.btn:hover {
  cursor: pointer;
  color: black; }

.btn-2 {
  background-color: #66bb75;
  margin: 20px 0px 0px 0px; }

.btn-3 {
  background-color: #d43326;
  margin: 5px; }

.btn-4 {
  background-color: #9b90d9;
  margin: 5px; }

.btn-5 {
  background-color: #65c8ce;
  margin: 20px 0px 0px 0px; }

/* Positioning */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

/* Navigation */
#search > input {
  padding: 11px 15px; }

.navbar-brand {
  font-size: 50px;
  color: white !important;
  display: inline-block; }

.fa-bars {
  color: white; }

.navbar {
  background-color: #1f1f1f;
  padding: 0px; }

.navbar-toggler {
  display: inline-block;
  float: right;
  padding: 10px;
  margin: 10px;
  background-color: #595e6b;
  border-radius: 10px; }

.navbar-toggler:hover {
  cursor: pointer; }

.offset-navbar {
  margin-top: 84px; }

.nav-link {
  color: #a0a0a0 !important;
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: linear; }

.nav-link:hover {
  color: white !important; }

.nav-item {
  font-size: 22px;
  padding: 10px;
  margin: 5px; }

.active {
  background-color: black !important; }

.active > .nav-link {
  color: white !important; }

/* Index Page */
#popular-questions-label {
  text-shadow: 2px 2px black;
  color: white;
  font-weight: 800; }

#learn-more-container {
  background-color: #282e37;
  padding: 30px;
  margin: 0px; }

#learn-more-container > h1 {
  border-bottom: 2px solid #0bb4e0; }

#learn-more-container > p {
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  padding: 10px 0px; }

#jumbotron-label-container {
  margin: 90px 0px 30px 0px; }

.jumbotron {
  background-image: url("../images/cover.png");
  background-position: center;
  background-size: cover;
  padding: 75px 0px; }

#popular-questions {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto Condensed", sans-serif;
  overflow: hidden;
  overflow-y: scroll; }

.question-card {
  background-color: #daeefb;
  margin: 30px;
  border-radius: 10px;
  transition-property: box-shadow;
  transition-duration: .1s;
  transition-timing-function: linear; }

.question-card:hover {
  box-shadow: 0px 0px 25px white; }

.username {
  text-align: center;
  background-color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 30px;
  padding: 26px 10px;
  word-break: break-all;
  border-right: 5px solid #0bb4e0;
  color: white;
  transition-property: background;
  transition-duration: .1s;
  transition-timing-function: linear; }

.username:hover {
  cursor: pointer;
  background-color: #1f1f1f; }

.question {
  font-size: 25px;
  text-align: center;
  padding: 10px 5px;
  color: black; }

/* Authentication Pages */
.authentication-box {
  width: 800px;
  padding-left: 50px; }

.authentication-box * label {
  font-size: 25px; }

.authentication-box * input {
  font-size: 22px; }

/* Question Banks Page */
.fa-plus-square {
  color: white;
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: linear;
  margin: 5px; }

.fa-plus-square:hover {
  cursor: pointer;
  color: #0bb4e0; }

.question-banks-container {
  padding: 20px 0px;
  width: 100%; }

.question-bank-card {
  background-color: #595e6b;
  padding: 30px;
  margin: 15px 5px 40px 5px;
  border-radius: 10px;
  width: 100%; }

.question-bank-label {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.question-bank-questions {
  margin: 20px; }

.question-bank-questions > li {
  font-size: 25px;
  color: #282e37; }

/* Practice */
#record-response {
  margin-top: 60px; }

#record-response > div {
  text-align: center;
  margin: 10px; }

#timer {
  font-size: 200px; }

.feedback-card {
  background-color: #1f1f1f;
  border-radius: 10px;
  padding: 50px;
  margin: 50px; }

.feedback-card > h1 {
  text-align: center;
  margin: 10px; }

.choose-card {
  transition-property: box-shadow;
  transition-duration: .1s;
  transition-timing-function: linear; }

.choose-card:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px white; }

.fa-arrow-circle-right {
  transition-property: color;
  transition-duration: .1s;
  transition-timing-function: linear; }

.fa-arrow-circle-right:hover {
  color: #595e6b;
  cursor: pointer; }

/* Media Queries & Webkit */
@media only screen and (max-width: 1700px) {
  .pl-30 {
    padding: 30px; } }

@media only screen and (max-width: 768px) {
  .username {
    border-radius: 10px;
    border-right: 0px;
    border-bottom: 5px solid #0bb4e0; } }

::-webkit-scrollbar {
  display: none; }
